@import 'App';

body {
  display: grid;
  place-content: center;
  background: linear-gradient(130deg,rgba(38, 38, 38, 1) 0%, rgb(49, 49, 49) 50%, rgb(71, 71, 71) 100%);
  background-size: 400% 400%;
  animation: gradient 12s ease infinite;
  color: #fff;
  height: 80vh;
  font-family: "Quicksand", sans-serif;
  padding: clamp(1rem, 6vw, 4rem);
  min-width: 300px;
}

h1 {
  font-family: "Source Code Pro", system-ui, monospace;
  font-size: clamp(2rem, 6vw, 5rem);
  margin: 0 0 1rem;
  line-height: 1;
}

h2 {
  margin: 0 0 2rem;
  font-size: 2em;
}

p {
  line-height: 1.6;
}

a {
  color: rgb(221, 133, 78);
  text-decoration: none;
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}